{% extends "base.html" %}
{% block title %}
<title>zest login</title>
{% endblock %}
{% block content %}
<div class="login-form">
  <div class="container">
    <form action="{{ url_for('auth.login') }}" method="post" name="login">
      <img src="{{ url_for('static', filename='winda.svg') }}" class="winda">
      <h1 class="fw-light zest-login-banner">Zest Login</h1><br>
      <input type="text" required class="form-control" placeholder="Username" name="username" autofocus>
      <br>
      <input type="password" required  class="form-control" placeholder="Password" name="password">
      <br>
      <input type="submit" value="Login" class="btn btn-primary submit-btn">
    </form>
  </div>
</div>

{% endblock %}